/*Global style*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: 'Nunito', sans-serif;
  font-size: 10px;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

p{
  font-size: 1.6rem;
}

img{
  width: 100%;
  max-width: 100%;
  height: auto;
}

section {
  padding: 5rem 0;
}

header {
  width: 100%;
  height: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.container {
  width: 100%;
  max-width: 98rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.sections {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(255,255,255,.2);
}

.nav-brand{
  width: 2rem;
}

.menu-icons i{
  font-size: 3.5rem;
  color: #fafafa;
  cursor: pointer;
}

.close i{
  color: #eb648c;
}

.nav-list{
  width: 25rem;
  height: 100vh;
  background-color: black;
  position: fixed;
  top: 0;
  right: -26rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1500;
  transition: all 650ms ease-in-out;
}

.nav-list.active{
  right: 0;
}

.closed{
  position: absolute;
  top: 1rem;
  left: 1.5rem;
}

.nav-item {
  margin: 1.5rem 0;
}

.nav-link {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: white;
}

/*hero*/

.hero {
  width: 100%;
  height: 80vh;
  background: linear-gradient(135deg, rgb(166, 168, 171, 0.9) 0%, 
  rgba(45, 44, 46, 0.8) 100%), url(albedo favicon.png) center no-repeat;
  background-size: contain;
  background-position-y: top; 
  position: relative;
}

.hero::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 4.7rem;
  background: url(wave-small.png) right no-repeat;
  background-size: cover;
}

.main-message {
  width: 100%;
  max-width: 50rem;
  color: #fafafa;
  text-transform: uppercase;
  transform: translateY(20%)
}

.main-message h3 {
  font-size: 1.6rem;
}

.main-message h1 {
  font-family: 'Aldrich', sans-serif;
  font-size: 4rem;
  margin: 1rem 0;
}

.main-message p{
  text-transform: lowercase;
}

.btn{
  background-color: #3fb2e7;
  border-radius: 2rem;
  color: #fafafa;
  display: inline-block;
  margin-top: 2rem;
  padding: 1rem 2.5rem;
  text-transform: uppercase;
  transition: background-color 650ms;
}

.btn:hover{
  background-color: #ce587b;
}

.icon ion-logo{
  size: 32px;
}

.iconify {
  color: white;
  width: 6rem;
}

/*About Me*/

.main-location{
  padding: 0;
}

.socials-padding {
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.title-heading, .project-heading {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10rem;
  color: white;
}


.title-heading, .project-heading h1{
  font-family: 'Aldrich', sans-serif;
  font-size: 4rem;
  margin: 1rem 0 1rem;
}

.title-heading, .project-heading p{
  text-transform: capitalize;
  font-size: 2rem;
}

.project-heading {
  margin-top: 5rem;
  margin-bottom: 10rem;
  padding-top: 5rem;
  padding-bottom: 0;
}

.howto-heading {
  margin: 1rem 0 1rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Aldrich', sans-serif;
  font-size: 3rem;
}

h2 {
  margin: 2rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
  text-align: left;
  text-transform: uppercase;
  font-family: 'Aldrich', sans-serif;
  font-size: 3rem;
}

.frames::before {
  display: inline-flex;
  max-width: 50%;
}

.frames::after {
  max-width: 50%;
  width: 100%;
}

.howtoframes::before {
  max-width: min-content;
  width: fit-content;
}

.howtoframes {
  max-width: 100%;
  width: 100%;
}

.htd {
  font-size: 2rem;
  text-align: center;
  margin: auto;
  margin-top: 0;
}

.activities-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2.5rem;
}

.activities-grid-item{
  height: 40rem;
  padding: 5rem;
  color: #fafafa;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: -1;
}

.activities-grid-item::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(135deg, rgb(166, 168, 171, 0.9) 0%, 
  rgba(171, 171, 173, 0.8) 100%);
  width: 100%;
  height: 100%;
  z-index: -1;
}

.about-me {
 background: url(black2.png) center no-repeat;
}

.skills {
  background: url(black2.png) center no-repeat;
}

.contact-image {
  background: url(black2.png) center no-repeat;
}

.activities-grid-item i {
  font-size: 4rem;
  color: #fff;
}

.activities-grid-item h1 {
  font-family: 'Aldrich', sans-serif;
  font-size: 1.7rem;
  text-transform: uppercase;
  margin: 2rem 0;
}

.app {
  padding: 0;
  padding-right: 5px;
}

/* Contact Form*/

.contact-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2.5rem;
  margin-bottom: 2rem;
}

.contact-grid-item{
  color: rgba(0,0,0,.7)
}

.contact-grid-item{
  height: 40rem;
  padding: 5rem;
  color: #fafafa;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

.contact-grid-item::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(135deg, rgb(166, 168, 171,0.9) 0%, 
  rgba(42, 42, 43, 0.8) 100%);
  width: 100%;
  height: 100%;
  z-index: -1;
}


footer{
  padding: 2.5rem 0;
  margin-top: 5rem;
  background-color: black;
  text-align: center;
  color: white;
}


.contact-container{
  max-width: 800px;
  background: #fff;
  width: 800px;
  padding: 25px 40px 10px 40px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.container .text{
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  background: -webkit-linear-gradient(right, #cdcfd1, #3d3e40, #cdcfd1, #3d3e40);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container form{
  padding: 30px 0 0 0;
}
.container form .form-row{
  display: flex;
  margin: 32px 0;
}
form .form-row .input-data{
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}
form .form-row .textarea{
  height: 70px;
}
.input-data input,
.textarea textarea{
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0,0,0, 0.12);
}
.input-data input:focus ~ label, .textarea textarea:focus ~ label,
.input-data input:valid ~ label, .textarea textarea:valid ~ label{
  transform: translateY(-20px);
  font-size: 14px;
  color: #3498db;
}
.textarea textarea{
  resize: none;
  padding-top: 10px;
}
.input-data label{
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}
.textarea label{
  width: 100%;
  bottom: 40px;
  background: #fff;
}
.input-data .underline{
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}
.input-data .underline:before{
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #3498db;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before{
  transform: scale(1);
}
.submit-btn .input-data{
  overflow: hidden;
  height: 45px!important;
  width: 25%!important;
}
.submit-btn .input-data .inner{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(right, #cdcfd1, #3d3e40, #cdcfd1, #3d3e40);
  transition: all 0.4s;
}
.submit-btn .input-data:hover .inner{
  left: 0;
}
.submit-btn .input-data input{
  background: none;
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

@media (max-width: 700px) {
  .container .text{
    font-size: 30px;
  }
  .container form{
    padding: 10px 0 0 0;
  }
  .container form .form-row{
    display: block;
  }
  form .form-row .input-data{
    margin: 35px 0!important;
  }
  .submit-btn .input-data{
    width: 40%!important;
  }
}


/* Media queries*/

@media screen and (min-width: 350px) {
  .main-message{
    transform: translateY(40%);
  }

  .howtoframes {
    max-width: 100%;
    width: 100%;
    margin: auto;
  }

  h2 {
    text-align: center;
  }
}

@media screen and (min-width: 470px) {
  .hero::before{
    height: 9.4rem;
    background: url(wave-medium.png);
    background-size: cover;
  }
}

@media screen and (min-width: 700px) {
  header{
    height: 8rem;
  }

  .nav-brand{
    width: 3.5rem;
  }

  .nav-list{
    width: initial;
    height: initial;
    background-color: transparent;
    position: initial;
    top: initial;
    right: initial;
    flex-direction: row;
    transition: initial;
  }

  .menu-icons{
    display: none;
  }

  .nav-item{
    margin: 0 2.5rem;
  }

  .nav-link, .current{
    color: #fafafa;
    position: relative;
    font-size: 1.3rem;
  }

  .nav-link::before,
  .current::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -.5rem;
    background-color: #eb648c;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 650ms;
  }

  .current::before{
    transform: scaleX(1)
  }

  .nav-link:hover::before{
    transform: scaleX(1);
  }

  .hero{
    height: 60vh;
  }

  .main-message{
    transform: translateY(70%);
  }

  .title-heading h1{
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 950px) {
  .hero::before{
    height: 22.7rem;
    background: url(wave-large.png);
    background-size: cover;
  }
}

@media screen and (min-width: 1200px) {
  .hero{
    height: 100vh;
  }

  .htd {
    max-width: 50%;
  }
}
